/*--------ICONOS COMO FUENTE---------*/
@font-face {
	font-family: 'icomoon';
	src:url('../fonts/icomoon.eot?mqoi72');
	src:url('../fonts/icomoon.eot?#iefixmqoi72') format('embedded-opentype'),
		url('../fonts/icomoon.woff?mqoi72') format('woff'),
		url('../fonts/icomoon.ttf?mqoi72') format('truetype'),
		url('../fonts/icomoon.svg?mqoi72#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-home:before {
	content: "\e600";
}
.icon-pencil:before {
	content: "\e601";
}
.icon-file:before {
	content: "\e602";
}
.icon-profile:before {
	content: "\e603";
}
.icon-file2:before {
	content: "\e604";
}
.icon-file3:before {
	content: "\e605";
}
.icon-file4:before {
	content: "\e606";
}
.icon-copy:before {
	content: "\e607";
}
.icon-copy2:before {
	content: "\e608";
}
.icon-copy3:before {
	content: "\e609";
}
.icon-paste:before {
	content: "\e60a";
}
.icon-paste2:before {
	content: "\e60b";
}
.icon-paste3:before {
	content: "\e60c";
}
.icon-stack:before {
	content: "\e60d";
}
.icon-folder:before {
	content: "\e60e";
}
.icon-folder-open:before {
	content: "\e60f";
}
.icon-barcode:before {
	content: "\e610";
}
.icon-address-book:before {
	content: "\e611";
}
.icon-notebook:before {
	content: "\e612";
}
.icon-calendar:before {
	content: "\e613";
}
.icon-print:before {
	content: "\e614";
}
.icon-screen:before {
	content: "\e615";
}
.icon-cabinet:before {
	content: "\e616";
}
.icon-user:before {
	content: "\e617";
}
.icon-user2:before {
	content: "\e618";
}
.icon-wrench:before {
	content: "\e619";
}
.icon-cogs:before {
	content: "\e61a";
}
.icon-cog:before {
	content: "\e61b";
}
.icon-briefcase:before {
	content: "\e61c";
}
.icon-numbered-list:before {
	content: "\e61d";
}
.icon-menu:before {
	content: "\e61e";
}
.icon-menu2:before {
	content: "\e61f";
}
.icon-info:before {
	content: "\e620";
}
.icon-cancel-circle:before {
	content: "\e621";
}
.icon-checkmark-circle:before {
	content: "\e622";
}
.icon-libreoffice:before {
	content: "\e623";
}
.icon-file-pdf:before {
	content: "\e624";
}
.icon-file-openoffice:before {
	content: "\e625";
}
.icon-file-word:before {
	content: "\e626";
}
.icon-file-excel:before {
	content: "\e627";
}
.icon-file-zip:before {
	content: "\e628";
}
.icon-file-powerpoint:before {
	content: "\e629";
}
.icon-file-xml:before {
	content: "\e62a";
}
.icon-file-css:before {
	content: "\e62b";
}


/*Reset para igualar en todos los navegadores*/
*{
	margin: 0;
	padding: 0;
	font-family: 'Helvetica', arial;
}
h1,h2,h3,h4,h5,h6, p{
	padding-top: 1rem;
	padding-bottom: 1rem; 
}
html{
	font-size: 62.5%;
}
body{
	font-size: 1.4rem;
}
.contenedor{
	margin: 3rem auto; 
	box-shadow: 0 0 7px #333;
	background-color: #ecf0f1;
}
header{
	background-image: url(../img/header.png);
	width: 100%;
	height: 20rem;
	border-bottom: 1px solid #CCC;
	background-size: 100%;
}
.barraIzq{
	width: 5rem;
	background-color: #34495e;
	transition: all .3s ease;
	-ms-transition: all .3s ease;
	float: left;
	overflow: hidden;
}
.barraIzq .campoIzq{
	width: 100%;
	height: 5.6rem;
	padding-top: .6rem;
	border-bottom: 1px solid #2c3e50;
}
.barraIzq .principal{
	background-color: #e74c3c;
}
.campoIzq{
	position: relative;
}
.campoIzq .img{
	font-size: 3rem;
	color: #BBB;
	position: relative;
	text-align: center;
	padding-top: 1rem;
	width: 5rem;
	height: 3.7rem;
}
.barraIzq .principal .img{
	color: #FFF;
	width: 4rem;
	border-radius: 50%;
	padding-top: .3rem;
	border: .4rem solid #FFF;
}
.campoIzq p{
	font-size: 1.6rem;
	color: #FFF;
	position: absolute;
	left: 6rem;
	top: 2.2rem;
	padding-bottom: 0!Important;
	padding-top: 0!Important;
}
.espacioTrabajo{
	width: 93%;
	float: right;
	transition: all .3s ease;
}
.ajuste{
	width: 0;
	height: 0;
	clear: both;
}
.fila{
	display: block;
	width: 90%;
	margin: auto;
	text-align: center;
}
 .dosColumnas:last-child, .tresColumnas:last-child{
	margin: 2rem 0;
}
.unaColumna{
	width: 100%;
	margin: 2rem auto;
	float: left;
}
.dosColumnas{
	width: 48.5%;
	margin: 2rem 3% 2rem 0;
	float: left;
}
.tresColumnas{
	width: 32%;
	margin: 2rem 2% 2rem 0;
	float: left;
}
.unaColumna, .dosColumnas, .tresColumnas{
	padding: 1rem;
	box-sizing: border-box;
		-webkit-box-sizing: border-box;
     	-moz-box-sizing: border-box;  
}
.conBorde .unaColumna, .conBorde .dosColumnas, .conBorde .tresColumnas{
	box-shadow: 0 0 1px #CCC;
	background-color: #FFF;
}
.columnaCentral{
	width: 60%;
	margin: 4rem auto;
}
input{
	height: 3rem;
	box-sizing: border-box;
		-webkit-box-sizing: border-box;
     	-moz-box-sizing: border-box;
}
input[type="date"], input[type="datetime-local"],input[type="range"]{
	width: 100%;
	text-align: center;
	margin-top: 1rem;
	margin-bottom: 1rem;
	border-radius: 0.2rem;
	border: 1px solid #BBB;
}
input[type="text"]{
	border-radius: 0.2rem;
	border: 1px solid #BBB;
	transition: all .3s ease;
	margin-top: 1rem;
	margin-bottom: 1rem;
}
input[type="text"]:hover{
	border: 1px solid #999;
	background-color: #ecf0f1;
}
.inputCaja{
	width: 100%;
}
.inputBoton input[type="text"]{
	width: 74%;
}
.inputBoton input[type="submit"]{
	width: 24%;
	color: #FFF;
	background-color: #e74c3c;
	border: none;
}
.inputConTexto{
	width: 100%;
}
.inputConTexto input[type="text"]{
	width: 74%;
	float: right;
}
.inputConTexto .texto{
	text-align: left;
	margin-top: 1.5rem;
	float: left;
	width: 24%;
}
.inputConImagen{
	width: 100%;
}
.inputConImagen input[type="text"]{
	width: 94%;
	float: right;
}
.inputConImagen .texto{
	text-align: left;
	font-size: 1.8rem;
	margin-top: 1.5rem;
	float: left;
	width: 5%;
}
select{
	width: 100%;
	height: 3rem;
	border-radius: 0.2rem;
	border: 1px solid #BBB;
	margin-bottom: 1rem;
	margin-top: 1rem;
}
.selectButton select{
	width: 74%;
}
.selectButton input[type="submit"]{
	width: 24%;
	color: #FFF;
	background-color: #e74c3c;
	border: none;
}
.checkbox{
	margin-top: 3rem;
	margin-bottom: 3rem;
	text-align: left;
	line-height: 3rem;
}
input[type="checkbox"]{
	height: auto;
}
.rojo, .verde, .azul{
	height: 3rem;
	color: #FFF;
	border: none;
	padding-left: 1rem;
	padding-right: 1rem;
	margin-top: 1rem;
	margin-bottom: 1rem;
}
.azul{
	background-color: #3498db;
}
.verde{
	background-color: #1abc9c;
}
.rojo{
	background-color: #e74c3c;
}

.alerta{
	position: absolute;
	bottom: 6rem;
	right: 6rem;
	color: #FFF;
	max-width: 50%;
	padding: 1rem;
	text-align: right;
	border-radius: .4rem;
	box-shadow: 0 0 .7rem #000;
	position: fixed;
	opacity: 1;
	transition: all .3s ease;
}
.alertaRoja{
	border: 2px solid rgba(231, 76, 60, 1);
	background-color: rgba(231, 76, 60, .9);
}
.alertaVerde{
	border: 2px solid rgba(26, 188, 156, 1);
	background-color: rgba(26, 188, 156,.9);
}
.alertaBlanca{
	border: 2px solid rgba(236, 240, 241, 1);
	background-color: rgba(236, 240, 241,.9);
	color: #000;
}
.espacioMenu div{
	opacity: 0;
	display: none;
	transition: opacity .3s ease;
}
.espacioMenu div:first-child{
	display: block;
	opacity: 1;
}
.
.botonDesplegable{
	background-color: #bdc3c7;
	border: .1rem solid #95a5a6;
	margin-right: 0;
	width: 33%;
}
footer{
	clear: both;
	padding: .6rem;
	text-align: center;
	color: #FFF;
	background-color: rgba(52, 73, 94,1.0);
	border-top: .4rem solid rgba(231, 76, 60,1.0);
}
footer h3, h4{
	padding-bottom: .3rem;
	padding-top: .3rem;
}
/*------AJUSTE A DIFERENTES RESOLUCIONES DE PANTALLA------*/

/*Pantallas pequeñas*/
@media (min-width: 768px) and (max-width: 992px) {
	.contenedor{
		width: 750px;
	}
	header{
		height: 12rem;
	}
	.campoIzq p{
		font-size: 1.3rem;
	}
}

/*Pantallas medianas*/
@media (min-width: 992px) and (max-width: 1199px) {
	.contenedor{
		width: 970px;
	}
	header{
		height: 16rem;
	}
}

/*Pantallas grandes*/
@media (min-width: 1200px) {
	.contenedor{
		width: 1170px;
	}

}